[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Builds/

# OS junk
.DS_Store
Thumbs.db

# IDE junk
.vscode/
.idea/
TextMeshPro/
First Game Dev.slnx/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
